body {
	background-color: #EEEEEE;
}

.container {
	width: 940px;
	margin-top: 10%;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

.center table {
	margin-right: auto;
	margin-left: auto;
}

.text-center {
	text-align: center;
}

.nav ul li {
	display: inline;
}